* {
    box-sizing: border-box;
}

body{
	background-color: aquamarine;
	font: 1.1rem sans-serif;
	text-transform: uppercase;
	color: white;
}
.grid{
	padding: 1rem;
}
.item{
    padding: 1.5rem;
    margin: 1rem 0;
	border-radius: .3rem;
    background-color: orangered;
    min-height: 10vh;
}

nav, main, aside {
	float:left;
}

nav,aside{
	width:20%;
}

main{
	width:60%;
}


.clearfix {
    clear: both;
}
